In [1]:
import ml_calendar_failure_functions as mcff
import datetime as dt
today = dt.datetime.now().strftime('%Y_%m_%d')
data_start_date = '2018-06-01'
verbose_run = True
raw_data = mcff.pull_data(data_start_date, verbose_run)

Running Query
Running Query

In [4]:
raw_data.head()

,valid_as_of,audit_id,action,revenue_opportunity_id,audited_changes,failed
0,2018-06-01 09:14:00,126773496,create,60365,---\nname: Vortix // Device to Cure Insect Bit...,0
1,2018-06-04 16:18:56,127116794,update,60365,"---\nstart_date:\n- Monday, 25 June, 2018\n- M...",0
2,2018-06-08 13:22:45,127561524,update,60365,"---\nstart_date:\n- Monday, 11 June, 2018\n- M...",1
3,2018-06-12 10:26:56,127938478,update,60365,"---\nproduction_notes:\n- ""COORD:\r\nPHOTO/VID...",0
4,2018-06-13 08:27:54,128035755,update,60365,---\nscheduling_notes:\n- please ask me - wait...,0

In [5]:
snapshot_table = mcff.generate_snapshot_table(raw_data, verbose_run)

Revopps to process: 14695
Revopps processed: 5000
Time to process: 0:03:41.988299
Revopps processed: 10000
Time to process: 0:03:30.201314

In [7]:
snapshot_table.columns

Index(['audit_id', 'autocut_schedule', 'autocut_schedule_weekday',
       'backup_buyer_id', 'backup_coordinator_id', 'buyer_id', 'buyer_notes',
       'category_list', 'clearance', 'clone_product_sales', 'close_channel',
       'close_type', 'consignment', 'contingent_po_ready',
       'contingent_po_ready_at', 'coordinator_id', 'copywriter_id', 'cpo_hold',
       'cpo_hold_at', 'delay_email_sent', 'dropped_at', 'elevator', 'failed',
       'first_run', 'fulfillment_notes', 'high_priority',
       'high_revenue_expected', 'linesheet_due_date', 'linesheet_received',
       'linesheet_received_at', 'marketing_coordinator_id',
       'merchandising_operations_id', 'merchandising_tenet_list',
       'merchopp_price_checked', 'msrp_url', 'name', 'new_to_customer',
       'no_discounts_found', 'permanent', 'photo_editor_id', 'photo_needed',
       'photo_received_link', 'photo_shoot_completed',
       'photo_shoot_completed_at', 'photo_shoot_required', 'photographer_id',
       'photos_ready', 'photos_ready_at', 'photos_received',
       'photos_received_at', 'po_created', 'pre_buy', 'price_check_notes',
       'price_checked', 'price_checked_at', 'pricing_note', 'processing_time',
       'processing_time_note', 'production_notes', 'rerun_id',
       'revenue_opportunity_id', 'sale_id', 'samples_coordinator_id',
       'samples_received', 'samples_received_at', 'scheduling',
       'scheduling_notes', 'selection_notes', 'sent_contingent_po',
       'sent_contingent_po_at', 'shipment_type', 'shipping_coordinator_id',
       'shoot_date', 'showroom', 'site_list', 'size_chart_received',
       'size_chart_received_at', 'start_date', 'status', 'supplier_id',
       'suppress_prep_email', 'total_revenue', 'valid_as_of'],
      dtype='object')

In [9]:
snapshot_table.head(10)

,audit_id,autocut_schedule,autocut_schedule_weekday,backup_buyer_id,backup_coordinator_id,buyer_id,buyer_notes,category_list,clearance,clone_product_sales,...,showroom,site_list,size_chart_received,size_chart_received_at,start_date,status,supplier_id,suppress_prep_email,total_revenue,valid_as_of
0,126773496,End of Sale,Monday,NaN,NaN,1811169.0,,NaN,False,[],...,False,NaN,False,NaT,"Monday, 25 June, 2018",OK,44616,False,None,2018-06-01 09:14:00
1,127116794,End of Sale,Monday,NaN,NaN,1811169.0,,NaN,False,[],...,False,NaN,False,NaT,"Monday, 11 June, 2018",OK,44616,False,None,2018-06-04 16:18:56
2,127561524,End of Sale,Monday,NaN,NaN,1811169.0,,NaN,False,[],...,False,NaN,False,NaT,"Monday, 18 June, 2018",OK,44616,False,None,2018-06-08 13:22:45
3,127938478,End of Sale,Monday,NaN,NaN,1811169.0,,NaN,False,[],...,False,NaN,False,NaT,"Monday, 18 June, 2018",OK,44616,False,None,2018-06-12 10:26:56
4,128035755,End of Sale,Monday,NaN,NaN,1811169.0,,NaN,False,[],...,False,NaN,False,NaT,"Monday, 18 June, 2018",OK,44616,False,None,2018-06-13 08:27:54
5,128036023,End of Sale,Monday,NaN,NaN,1811169.0,,NaN,False,[],...,False,NaN,False,NaT,"Monday, 18 June, 2018",OK,44616,False,None,2018-06-13 08:33:55
6,128057595,End of Sale,Monday,NaN,NaN,1811169.0,,NaN,False,[],...,False,NaN,False,NaT,"Monday, 25 June, 2018",OK,44616,False,None,2018-06-13 11:47:32
7,128331262,End of Sale,Monday,NaN,NaN,1811169.0,,NaN,False,[],...,False,NaN,False,NaT,"Monday, 25 June, 2018",OK,44616,False,None,2018-06-15 16:53:27
8,128331270,End of Sale,Monday,NaN,NaN,1811169.0,,NaN,False,[],...,False,NaN,False,NaT,"Monday, 25 June, 2018",OK,44616,False,None,2018-06-15 16:53:35
9,128610583,End of Sale,Monday,NaN,NaN,1811169.0,,NaN,False,[],...,False,NaN,False,NaT,"Monday, 25 June, 2018",OK,44616,False,None,2018-06-18 12:14:06

In [19]:
snapshot_table.failed.value_counts(normalize=True).mul(100)
# the baseline is 96%

0    96.272647
1     3.727353
Name: failed, dtype: float64

In [ ]:
training_table, prediction_table = mcff.generate_training_table(snapshot_table, verbose_run)

Xgboost Model

In [ ]:
best_parameters = mcff.xgboost_hyperopt(training_table, verbose_run)

In [ ]:
processed_dat = training_table.sort_values('valid_as_of', ascending=True).copy()

x_vars = [col for col in processed_dat.columns if (col not in ['will_fail', 'valid_as_of',
                                                               'revenue_opportunity_id'])]

test_size = 0.05
validation_cutoff = int(processed_dat.shape[0] * (1 - test_size))

x_train = processed_dat.loc[0:validation_cutoff, x_vars]
x_test = processed_dat.loc[validation_cutoff + 1:, x_vars]
y_train = processed_dat.loc[0:validation_cutoff, 'will_fail']
y_test = processed_dat.loc[validation_cutoff + 1:, 'will_fail']

num_round = int(best_parameters['n_estimators'])
del best_parameters['n_estimators']
dtrain = xgb.DMatrix(x_train, label=y_train)
dvalid = xgb.DMatrix(x_test, label=y_test)
watchlist = [(dvalid, 'eval'), (dtrain, 'train')]
gbm_model = xgb.train(best_parameters, dtrain, num_round, evals=watchlist, verbose_eval=False)
if verbose_run:
    predictions_tr = gbm_model.predict(dtrain, ntree_limit=gbm_model.best_iteration)
    roc_tr = round(roc_auc_score(y_train, np.array(predictions_tr)), 3)
    accuracy_tr = round(100 * accuracy_score(y_train, np.round(np.array(predictions_tr))), 2)
    false_neg_tr = round(100 * sum((y_train - np.round(np.array(predictions_tr))) == 1) / sum(y_train), 2)
    print(f'ROC TR: {roc_tr} | Accuracy TR: {accuracy_tr}% | False Negative TR: {false_neg_tr}%')

chr_num = 65
filename = os.path.join(os.path.dirname(__file__), f'models/{today}_{chr(chr_num)}model.pickle.dat')
while os.path.exists(filename):
    chr_num += 1
    filename = os.path.join(os.path.dirname(__file__), f'models/{today}_{chr(chr_num)}model.pickle.dat')

pickle.dump(gbm_model, open(filename, 'wb'))